link(rel="stylesheet" href="../style.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo")

div.formCont 
	div.cont
		h1 Sign up for Confab 
		div.catchPhrase Join the <strong>easiest and most efficent</strong> way to get all of your contracting needs accomplished.
		div.buttonCont
			img(src="./btn_google_light_pressed_ios.svg")
			button.googleOath Sign Up with Google
		div.catchPhrase(style={"text-decoration": "underline"}) Already have an account? Log In.

