link(rel="stylesheet" href="./styles.css")

h1.center Pages
div.key
	h2 Key
	table
		tr
			th.bor(style={"background-color": "lightgray"}) Both
			th.bor(style={"background-color": "lightblue"}) User
			th.bor(style={"background-color": "lightyellow"}) Contractor

div.dCenter
	table.tb
		tr
			th.bor Page Name
			th.bor Purpose
			th.bor Requirements
			th.bor What does it do
		tr
			td.bor Landing Page
			td.bor 
				ul
					li First User interaction
					li Intrigue the Potential User
					li Provide teaser of Product
					li What sets it appart
			td.bor 
				ul
					li Nav bar
					ul
						li Home
						li Login
						li Logout
						li Signup
						li Services
					li Hero Text
					li Footer with additional links and info
			td.bor Facilitate user interaction
		tr
			td.bor Signup Page
			td.bor
				ul
					li Provide easy signup 
					li Provide a way to gain access to services
			td.bor
				ul
					li Signup using oAuth
					li Provide confirmation with success
					li specify type (cont, cust)
			td.bor x
		tr
			td.bor Login Page
			td.bor
				ul
					li Provide easy login via oAuth
			td.bor
				ul 
					li Login via oAuth
					li Confirmation of success/failure
			td.bor x
		tr
			td.bor Accounts Page
			td.bor
				ul 
					li Display account info
					li Modification of account info
			td.bor
				ul
					li Allow of account mod
					li Display info
					li Specify type of account
					li Allow cancelation of account
					li Admin 
					ul
						li List all Accounts
						li Allow for modification
			td.bor Account info
		tr
			td.boru Available Contractors Page
			td.boru
				ul
					li Provide a list of contractors
					li List services offered
			td.boru
				ul
					li Pagenation
					li sort via area
					li sort via services
					li sort via rating
			td.boru Provide contactor options
		tr 
			td.boru Single Contractor Info
			td.boru 
				ul
					li More Info on Contractor
			td.boru
				ul
					li Full List of Services
					li Ratings and Reviews
					li General description
					li Link to schedule app
					li Link to contact
			td.boru
				ul
					li provide more info
					li allow for a better decision
		tr
			td.boru Scheduler Page
			td.boru
				ul
					li Facilitate scheduling
			td.boru
				ul
					li Show available times
					li Notify Contactor of pot app
			td.boru x
		tr
			td.boru User Calender
			td.boru
				ul
					li Show app (pending/confirmed)
					li Show Completed App
					li Cancelation of app
					li Request reschedule ext.
			td.boru
				ul
					li List of app (pending/confirmed)
					li Allow for cancelation
					li Allow for reschedule request
			td.boru x
		tr
			td.boru Invoices Page
			td.boru
				ul
					li Shows Invoices that user owes
					li Shows total amount due per invoice
			td.boru
				ul
					li Shows invoices and amounts
					li Links to payment page
			td.boru x
		tr
			td.boru Payments Page
			td.boru 
				ul
					li Facilitate Secure payments
			td.boru 
				ul
					li Uses Stripe Api
					li Shows Invoice that payment is for
			td.boru x
		tr 
			td.boru Reviews Page
			td.boru
				ul
					li Provide a place to review services rendered
					li Provide potential clients with honest reviews to aid in the decision making process
			td.boru
				ul
					li Star rating system
					li Comments Section
					li delete/edit a review
			td.boru Reviews
		tr
			td.borc Scheduler Page
			td.borc 
				ul
					li Provide Scheduling ability for Cont.
			td.borc
				ul
					li Set available and booked times
					li Show pending appointments
					li show Booked appointments
			td.borc Scheduling for cont.
		tr
			td.borc Feedback Page
			td.borc
				ul 
					li Povide feedback results
					li Help provide info for cont to provided the best service possible
			td.borc
				ul
					li List Feedback results
					li ability to sort
					li paginate
			td.borc x
		tr
			td.borc Invoices Page
			td.borc 
				ul
					li Bill Clients for services rendered
					li Keep track of paid/unpaid
			td.borc
				ul
					li List Invoices
					li sort ability
					li list paid/unpaid
			td.borc x

		tr
			td.borc Billing Page
			td.borc
				ul
					li Utilize Stripe Api
					li Allow for electronic Payments
			td.borc
				ul
					li Utilize Stripe Api
					li Allow for electronic Payments
			td.borc x

