link(rel="stylesheet" href="./styles.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo&dislpay=swap" rel="stylesheet")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")

div.mainCont
	div.bio
		div.par 
			h3.comp 1 
			p unpaid invoice
			div.viewCont
				button.view View Invoices
	div.imgCont
		div.cont
			h2.title Appointments
			div.time
				select
					option Today
			h3.sub Appointments(00/00/00)
			div.tbCont
				table.tb
					tr
						th.thead Cust.
						th.thead Loc.
						th.thead Time
					tr
						td.tbord Renda Smith
						td.tbord 7200 Dryfuss 
						td.tbord 8:00 A.M.
					tr
						td.tbord JR Smith
						td.tbord 11101 Chock 
						td.tbord 12:00 P.M.
					tr
						td.tbord Chuck Smith
						td.tbord 4120 Prairie 
						td.tbord 1:00 P.M.

	div.imgCont
		div.cont
			h2.title Reviews
			div.time 
				select
					option Last Month
			h3.sub Reviews(Apr)
		img(src="./reviews.png")
	div.imgCont
		div.cont
			h2.title App. Trend
			div.time
				select
					option Last Year
			h3.sub Trending App. (2018-2019)
		img(src="./diagrams/trendingJobs.png")
	div.imgCont
		div.cont
			h2.title Invoices
			div.time
				select
					option Last 3 Months
			h3.sub Invoices(Mar-May)
		img(src="./diagrams/invoices.png")

	div.imgCont
		div.cont
			h2.title Completed Jobs
			div.time
				select
					option this Month
			h3.sub Jobs(May)
		img(src="./completedProjects.png")

