//- AIzaSyD2G1ji4zwqudAOIuYJViNZDkZx_WiPJE0
link(rel="stylesheet" href="./styles.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo&dislpay=swap" rel="stylesheet")

div.cont
	h1.title.exo Location
	div.topCont
		div.map
			div.mapContOne
				h2.city Amarillo, Tx
				h2.city Canyon, Tx
				h2.city Dumas, Tx
				h3.prompt Recent 
			div.mapContTwo
				h2.cCity Amarillo, Tx
				h3.prompt  Location
			div.mapPic
				img(src="./Screenshot from 2019-05-18 10-08-00.png")
			div.locButton
				button.butt Change Location
			div.spotligtht
				h3 Contractor Spotlight
				div.name(style={width: "100%"})
					label.n Name: 
					div.rn A Const
				div.rating
					label.n Rating: 
					div.rn.img(style={width: "100px", height: "20px;"})
				div.rating
					label.n Recent Review: 
					link.rn(src="#") 
		div.list
			h2.koho Contractor List
			div.searchBar
				div.dname Name: 
					select.type
						option None

				div.dname Type: 
					select.type 
						option Landscaping
						option All
						option Security
				div.dname Rating: 
					select.type
						option 4 & above
				div.dname
					input(type="text" placeholder="Search Contractors")
					img(src="./Screenshot from 2019-05-18 11-40-01.png")
			div.results
				table.resTable
					tr
						th.thead Business Name
						th.thead Services 
						th.thead Rating 
						th.thead Location
						th.thead.right Select
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")

div(style={height: "100px"})

div.cont
	h1.title.exo Location
	div.topCont
		div.map
			div.mapContOne
				h2.city Amarillo, Tx
				h2.city Canyon, Tx
				h2.city Dumas, Tx
				h3.prompt Recent 
			div.mapContTwo
				h2.cCity Amarillo, Tx
				h3.prompt  Location
			div.mapPic
				img(src="./Screenshot from 2019-05-18 10-08-00.png")
			div.locButton
				button.butt Change Location
			div.spotligtht
				h3 Contractor Spotlight
				div.name(style={width: "100%"})
					label.n Name: 
					div.rn A Const
				div.rating
					label.n Rating: 
					div.rn.img(style={width: "100px", height: "20px;"})
				div.rating
					label.n Recent Review: 
					link.rn(src="#") 
		div.list
			h2.koho Contractor List
			div.searchBar
				div.dname Name: 
					select.type
						option None

				div.dname Type: 
					select.type 
						option Landscaping
						option All
						option Security
				div.dname Rating: 
					select.type
						option 4 & above
				div.dname
					input(type="text" placeholder="Search Contractors")
					img(src="./Screenshot from 2019-05-18 11-40-01.png")
			div.results
				table.resTable
					tr
						th.thead Business Name
						th.thead Services 
						th.thead Rating 
						th.thead Location
						th.thead.right Select
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord.select A Const
						td.tbord.select Remodel<br>New Construction
						td.tbord.img.select
						td.tbord.select Amarillo, Tx
							td.tbord.right.select
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr.rSelect
						td.bSelect Avialability
						td.bSelect(colspan="2") Reviews
						td.bSelect 
						td.bSelect
					tr
						td.cSelect 3 Openings 5/22<br> 5 Openings 5/23<br> 7 openings 5/24
						td.cSelect(colspan="3") Great Job keeping eveything precise... <br> Was Professional and curtious ....<br> Clean and Prompt...<br> Excellent Craftmanship...
						td.cSelect <button class="button">Schedule</button><br><button class="button">Profile</button>
						
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord A Const
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
