link(rel="stylesheet" href="./styles.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo&dislpay=swap" rel="stylesheet")

nav.accNav 
	div.sideBor <strong>Personal Info</strong>
	div.none Services and Pricing
	div.none Account Info
div.cont 
	div.titleCont.basic
		div.title
			img(src="./confab.png")
			div.spacer
			h2 Confab Account Settings
			p.body Manage your account settings here.
	div.outCont
		div.personal
			h3.head Personal Info
			p.secondary This is the info we use for your product
			div.bodySpacer
			div.form
				div.first Name
				div.second Zachery Irvin
				div.third Edit
				div.bodySpacer
				div.first Occupation
				div.second Contractor
				div.third Edit
				div.bodySpacer
				div.first Address
				div.second 12345 Homestead<br>Amarillo, Tx
				div.third Edit
	div.outCont
		div.personal
			h3.head Account Info
			p.secondary Account Information that users see
			div.bodySpacer
			div.form
				div.first Username
				div.second Something Special
				div.third Edit
				div.bodySpacer
				div.first Email
				div.second fooBar@yahoo.com
				div.third Edit
				div.bodySpacer
				div.first Phone Number
				div.second 000-000-0000 
				div.third Edit
				div.bodySpacer
				div.first Account Type
				div.second Contractor / Client
				div.third Edit
	div.outCont
		div.personal
			h3.head Services and Pricing
			p.secondary Edit the services offered
			div.bodySpacer
			div.form
				div.first Sheetrock
				div.second Basic Sheetrock<br> demo
				div.fourth $00.00
				div.secThird Edit
				div.bodySpacer
				div.first Framing
				div.second Stud out walls
				div.fourth $00.00
				div.secThird Edit



