html {
  font-size: 62.5%;
  background-color: #e4e4e4;
}

.cont {
  margin-top: 2rem;
  margin-left: 200px;
}

.accNav {
  font-family: "Koho", sans-serif;
  font-size: 2rem;
  position: fixed;
  width: 200px;
}

.accNav div {
  padding: 5px;
}

.sideBor {
  border-left: 10px solid #8c20f8;
}

.none {
  border-left: 10px solid #e4e4e4;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
}

.title h2 {
  font-family: "Exo", sans-serif;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

.body {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.first {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  width: 19%;
}

.second {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
  width: 17%;
}

.third {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
  width: 62%;
  text-align: right;
  color: #8c20f8;
  font-weight: bold;
}

.fourth {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
  width: 17%;
  padding-left: 20px;
}

.secThird {
  font-family: "Prompt", sans-serif;
  font-size: 1.3rem;
  width: 42%;
  text-align: right;
  color: #8c20f8;
  font-weight: bold;
}

.head {
  font-family: "Exo", sans-serif;
  font-size: 2rem;
  margin-bottom: 0px;
}

.secondary {
  font-family: "Koho", sans-serif;
  font-size: 1.3rem;
}

.outCont {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #f2f2f2;
  border: 1px solid #555555;
  border-radius: 5px;
}

.basic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
  border: 1px solid #555555;
  border-radius: 5px;
}

.spacer {
  width: 80%;
  border-bottom: 1px solid #febd17;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bodySpacer {
  width: 80%;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
img {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80px;
  height: 65px;
}
