link(rel="stylesheet" href="./styles.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo&dislpay=swap" rel="stylesheet")

div.formCont 
	div.cont
		h1 Log in to Confab
		div.catchPhrase Welcome Back
		div.buttonCont
			img(src="../signup/btn_google_light_pressed_ios.svg")
			button.googleOath Sign up with Google
		div.catchPhrase(style={"text-decoration": "underline"}) Don't have an account? Sign up.

