link(rel="stylesheet" href="./styles.css")

h1.w(style={"text-align": "center", padding: "20px", "font-size": "3rem"}) Colors

div.w(style={background: "#FEBD17"}) Primary Color #FEBD17
div.w(style={background: "#D9A214"}) Alt Color #D9A214 "Buttons ?"
div.w(style={background: "#E8AE00"}) Alt Color #E8AE00 "Form Labels ?"
div.w(style={background: "#FFC000"}) Alt Color #FFC000 "Form Headings ?"
div.w
div.w(style={background: "white", border: "1px solid black"}) Base Background #FFFFFF
div.w(style={background: "#E4E4E4"}) Alt Background #E4E4E4 "Drop Downs ?"
div.w(style={background: "#F2F2F2"}) Alt Background #F2F2F2 "Tabs ?"
div.w(style={background: "#555555", color: "white"}) Alt Background #555555
div.w(style={background: "black", color: "white"}) Contrast Background #000000
