link(href="https://fonts.googleapis.com/css?family=Exo|Kanit|Prompt|KoHo|Krub|Libre Franklin|Montserrat+Alternates|Roboto|Josefin+Sans|Overpass" rel="stylesheet")

link(rel="stylesheet" href="./styles.css")

h1.exo Header Font = Exo ||
div.koho Emphasis Font = KoHo ||
p.prompt Body Font = Prompt ||  Amet optio quam sequi repellendus molestias Cumque sapiente dignissimos eveniet illum amet Quam excepturi iure soluta totam iste. Suscipit eos recusandae similique consectetur nisi officiis Error ipsum illo odio possimus! Elit voluptate quia quas atque deleniti. Recusandae sapiente doloribus dolorem totam ullam veniam alias placeat. Facere commodi commodi cupiditate maxime illo ducimus qui quaerat! Quo at beatae quod facilis aspernatur.

h1.kanit Header Font = Kanit ||
div.krub Emphasis Font = Krub ||
p.mon Body Font = Montserrat Alternates || Amet labore nisi consequuntur distinctio aliquid Voluptates esse officia consequuntur omnis iusto animi Itaque excepturi earum rem totam accusamus Commodi repellendus eaque doloribus totam temporibus Voluptas vero corporis aut rem? Elit nesciunt ullam aut molestiae numquam dignissimos animi. Quos quaerat facere saepe iusto necessitatibus At eligendi temporibus ipsam dignissimos iste odit! Quasi aspernatur ea maiores voluptatum placeat corporis Fugiat aperiam

h1.jos Header Font = Josefin Sans
div.over Emphasis Font = Overpass
p.rob Body Font = Roboto || Amet labore nisi consequuntur distinctio aliquid Voluptates esse officia consequuntur omnis iusto animi Itaque excepturi earum rem totam accusamus Commodi repellendus eaque doloribus totam temporibus Voluptas vero corporis aut rem? Elit nesciunt ullam aut molestiae numquam dignissimos animi. Quos quaerat facere saepe iusto necessitatibus At eligendi temporibus ipsam dignissimos iste odit! Quasi aspernatur ea maiores voluptatum placeat corporis Fugiat aperiam

