link(rel="stylesheet" href="./styles.css")
link(href="https://fonts.googleapis.com/css?family=Exo|Prompt|KoHo&dislpay=swap" rel="stylesheet")

div.mainCont
	div.bio
		div.par
			button.comp A Team Const
			p Amet ipsa deleniti itaque facilis facere... 
			button.comp.space Add Review
	div.imgCont
		img(src="./reviews.png")
	div.recentReveiw
		h2.title Review Spotlight 
		h3.title Review title
		div.imgContTwo
			img.star(src="../contractorsList/star.png")
		p.content Lorem aspernatur quisquam sapiente libero sit. Ratione optio assumenda rem quibusdam ea ab? Soluta quae accusantium quia temporibus aliquam Nemo quis harum ducimus saepe inventore Aperiam fuga doloribus ratione voluptatum?

div.cont
		div.list
			h2.koho Reviews
			div.searchBar
				div.dname Username: 
					select.type
						option None

				div.dname Type: 
					select.type 
						option Landscaping
						option All
						option Security
				div.dname Rating: 
					select.type
						option 4 & above
				div.dname
					input(type="text" placeholder="Search Reviews")
					img(src="./Screenshot from 2019-05-18 11-40-01.png_")
			div.results
				table.resTable
					tr
						th.thead Username
						th.thead Services Rendered 
						th.thead Rating 
						th.thead Location
						th.thead.right Select
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")

div(style={height: "100px"})

div.mainCont
	div.bio
		div.par
			button.comp A Team Const
			p Amet ipsa deleniti itaque facilis facere... 
			button.comp.space Add Review
	div.imgCont
		img(src="./reviews.png")
	div.recentReveiw
		h2.title Review Spotlight 
		h3.title Review title
		div.imgContTwo
			img.star(src="../contractorsList/star.png")
		p.content Lorem aspernatur quisquam sapiente libero sit. Ratione optio assumenda rem quibusdam ea ab? Soluta quae accusantium quia temporibus aliquam Nemo quis harum ducimus saepe inventore Aperiam fuga doloribus ratione voluptatum?

div.cont
		div.list
			h2.koho Contractor List
			div.searchBar
				div.dname Username: 
					select.type
						option None

				div.dname Type: 
					select.type 
						option Landscaping
						option All
						option Security
				div.dname Rating: 
					select.type
						option 4 & above
				div.dname
					input(type="text" placeholder="Search Reviews")
					img(src="./Screenshot from 2019-05-18 11-40-01.png_")
			div.results
				table.resTable
					tr
						th.thead Username
						th.thead Services Rendered 
						th.thead Rating 
						th.thead Location
						th.thead.right Select
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord.select Random User Name
						td.tbord.select Remodel<br>New Construction
						td.tbord.img.select
						td.tbord.select Amarillo, Tx
							td.tbord.right.select
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr.rSelect
						td.bSelect Date
						td.bSelect(colspan="2") Review
						td.bSelect 
						td.bSelect
					tr
						td.cSelect 04/22/2019 
						td.cSelect(colspan="3") Great Job keeping eveything precise...  Was Professional and curtious .... Clean and Prompt... Excellent Craftmanship...Overall would definately recommend and use again.
						td.cSelect <button class="button">Edit</button><br><button class="button">Delete</button>
						
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
					tr 
						td.tbord Random User Name
						td.tbord Remodel<br>New Construction
						td.tbord.img
						td.tbord Amarillo, Tx
							td.tbord.right
								img(src="./Screenshot from 2019-05-18 16-54-15.png")
